.container {
    text-align: center;
}

.title-container {
    background-color: #006D77; 
}

.text-color{
    color: #006D77;
}

.custom-border-right {
    border-right: 1px solid black; 
}

.bg-color{
    background-color: #83C5BE; 
}

.custom-border-button {
    position: relative;
}

.custom-border-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%; /* Ajusta este valor según tus necesidades */
    width: 50%; /* Ajusta este valor según tus necesidades */
    border-bottom: 1px solid black;
}



